$dark-blue: #213a63;
$widget-blue: #283363;
$lighter-blue: #45507c;
$purple: #3c4a8c;
$yellow: #ffd43b;
$lighter-yellow: #ffe873;
$off-white: #dce4f2;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;